.dashboard{
    -fx-background-color: #ffffff;
}
.username{
    -fx-font-size: 2em;
    -fx-font-family: "Inter";
}
.date.label{
    -fx-text-fill: #C2C1F0;
    -fx-font-size: 1.1em;
    -fx-font-family: "inter";
    -fx-background-color: #eeeeee;
}
.text-field{
    -fx-font-size: 2em;
    -fx-font-family: "sans-serif";
    -fx-font-weight: extrabold;
}
.anchor-pane {
    -fx-background-color: white;
    -fx-background-radius: 0 20 20 0;
    /*want dropshadow in one side of anchor pane*/-fx-effect: dropshadow(gaussian, #AAAAAA, 5, 0.3, 1, 0);
    /*-fx-effect: d;*/
}


