.dashboard{
    -fx-background-color: #eeeeee;
}
.username{
    -fx-font-size: 2em;
    -fx-font-family: "Inter";
}
.date.label{
    -fx-text-fill: #C2C1F0;
    -fx-font-size: 1.1em;
    -fx-font-family: "inter";
    -fx-background-color: #eeeeee;
}
.text-field{
    -fx-font-size: 2em;
    -fx-font-family: "sans-serif";
    -fx-font-weight: extrabold;
}


