.anchor{
    -fx-background-color: white;
}
.title_label{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-font-style:sans-serif;
}
.register_form_container{
    -fx-background-color: white;
    -fx-spacing: 10;
    -fx-padding: 4;
    -fx-border-radius: 5;
    -fx-alignment: left;
}
 .register_form_container .input_field{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.Button1{
    -fx-background-color: #6967DF;
    -fx-text-fill: white;
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-border-radius: 8;
}
.Button1:hover{
    -fx-cursor: hand;
}
.team_names{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-pref-width: 100%;
}
.input_field{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}