/* Corrected CSS property */
* {
    -fx-font-family: 'Inter'; /* Assuming 'Inter' is the font family you intended to use */
}
.login_container{
    -fx-background-color: white;
}
/*logo container*/
.login_logo_container{
    -fx-background-color: #6967DF; /*colour milayera rakhna baki xa*/
    -fx-alignment: center;
}
.login_logo_container Text{
    -fx-fill: white;
    -fx-font-size: 2em;
}
/*account selector check box*/
.account_selector{
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.account_selector .Label{
    -fx-text-fill: black;
}
.account_selector.arrow{
    -fx-background-color: black;
}
#choice-box-popup-menu{
    -fx-background-color: white;
}
/*choice label text*/
#choice_prompt-text{
    -fx-font-weight: 400;
}
/* Corrected CSS properties */

.login_form_container{
    -fx-alignment: center-left; /* Example correction */
    /*-fx-font-style: italic; !* Example correction *!*/
    -fx-spacing: 10;
    -fx-padding: 4;
    -fx-border-radius: 8;
}
.login_form_container .Label{
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
}
.input_field{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.login_form_container .Button{
    -fx-background-color: #6967DF;
    -fx-text-fill: white;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}
.login_form_container .Button:hover{
    -fx-cursor: hand;
}
.error_label{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.welcome_label{
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
    -fx-font-style: roborto;
}
.Button2:hover{
    -fx-cursor: hand;
}
