.report{
    -fx-background-color: white;
}
.Label{
    -fx-text-fill: black;
    -fx-font-style: sans-serif;
    -fx-font-weight: 1.2em;
}
.title_label{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-font-style:sans-serif;
}
.input_field{
    -fx-alignment: center;
}
.title_label{
    -fx-font-size: 1em;
    -fx-font-weight: semi-bold;
    -fx-font-style:sans-serif;
}
.input_field{
    -fx-border-radius: 6;
    -fx-border-color: black;
    -fx-background-color: white;
}
.complain_box{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.Button{
    -fx-background-color:  #6967DF;
    -fx-text-fill: white;
    -fx-pref-width: 110;
    -fx-pref-height: 30;
    -fx-font-size: 1em;
    -fx-alignment:center;
    -fx-font-weight: bold;
}
.Button:hover{
    -fx-cursor: hand;
}