.main_menu_container{
    -fx-alignment: center;
    -fx-colour: white;
}
.left_container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 4);
}
/*title/ logo section*/
.little_container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top-center;
    -fx-padding: 10;
}
/*.little_container  FontAwesomeIconView{*/
/*    -fx-fill: #6967DF;*/
/*}*/
.little_container Text{
    -fx-text-fill: black;
    -fx-font-size: 2em;
}
.little_container:hover{
    -fx-cursor: hand;
}
/*Navigation section*/
.main_container{
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}
.menu_container Button{
    -fx-background-color: #ffffff;
    -fx-border-color: #6967DF;
    /*-fx-border-radius: 5;*/
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}
/*.menu_container Button:hover{*/
/*    -fx-cursor: hand;*/
/*}*/
/*.menu_container Button FontAwesomeIconView{*/
/*    -fx-text-fill: #132A13;*/
/*}*/
.alt_menu_btn{
    -fx-pref-width: 115;
    -fx-pref-height: 20;
    /*-fx-background-color: #132A13;*/
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}
 .alt_menu_btn:hover{
    -fx-cursor: hand;
}

/*    report/suggestion box*/
.report_container{
    -fx-background-color: #C2C1F0;
    -fx-background-radius: 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-spacing: 10;
}
.report_container .Label{
    -fx-alignment: center;
    -fx-wrap-text: true;
    }
.report_container .Text {
-fx-font-weight: bold;
    -fx-fill: black;
}
.report_container .Button{
    -fx-text-fill: #ffffff;
    -fx-background-color: #6967DF;
    -fx-pref-width: 80;
    -fx-font-weight: regular;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}
.report_container .Button:hover{
    -fx-cursor: hand;
}
/*    report/suggestion box*/
/*.report_container FontAwesomeIconView{*/
/*    -fx-fill: #ffffff;*/
/*}*/
